a {
  cursor: pointer;
  color: black;
}

a:hover {
  color: darkgray;
  text-decoration: none;
}

body {
  font-family: "Muli";
  padding: 10px;
  padding-bottom: 60px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.navBrandName {
  text-align: center;
}

.card {
  border: none;
}

#brand-card {
  transition: all 0.2s ease-in-out;
}

#brand-card:hover {
  transform: scale(0.75);
  cursor: pointer;
}

.pdColorButton {
  width: 70px;
}

#footer {
  // position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  line-height: 60px;
}

.flex-fill {
  flex: 1 1 auto;
}

.footer-link {
  color: grey;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  // background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: black;
}

.carousel-indicators .active {
  background-color: black;
}

.carousel-indicators li {
  background-color: rgb(172, 172, 172);
}

@function hsb($h-hsb, $s-hsb, $b-hsb, $a: 1) {
  @if $b-hsb == 0 {
    @return hsla(0, 0, 0, $a);
  } @else {
    $l-hsl: ($b-hsb/2) * (2 - ($s-hsb/100));
    $s-hsl: ($b-hsb * $s-hsb) / if($l-hsl < 50, $l-hsl * 2, 200 - $l-hsl * 2);
    @return hsla($h-hsb, $s-hsl, $l-hsl, $a);
  }
}

@function hsb-saturate($s, $a) {
  @if $s == 0 {
    @return 0;
  } @else {
    @return $s + $a;
  }
}

@mixin buttonize($h, $s, $b, $light: 0) {
  $color: hsb($h, $s, $b);
  $color-dark: hsb($h, hsb-saturate($s, 10), $b);
  $inset-top: inset 0 1px 0 hsb($h, $s - 20, $b + 10);
  $inset-bottom: inset 0 -1px 0 hsb($h, hsb-saturate($s, 10), $b - 10);
  $inset: inset 0 0 0 1px hsb($h, hsb-saturate($s, -10), $b);

  background-color: $color;
  background-image: linear-gradient(to bottom, $color, $color-dark);
  border: 1px solid hsb($h, hsb-saturate($s, 20), $b - 20);
  box-shadow: $inset-top, $inset-bottom, $inset, 0 2px 4px rgba(black, 0.2);

  @if $light == 1 {
    color: hsb($h, hsb-saturate($s, 40), $b - 40);
    text-shadow: 0 1px 0 rgba(white, 0.5);
  } @else {
    color: white;
    text-shadow: 0 1px 2px rgba(black, 0.3);
  }

  &:hover,
  &:focus {
    background: $color-dark;
    border-color: hsb($h, hsb-saturate($s, 40), $b - 40);
    box-shadow: $inset-top, $inset-bottom, $inset;
  }

  &:active {
    background: $color-dark;
    box-shadow: inset 0 2px 3px rgba(black, 0.2);
  }

  .fa {
    color: hsb($h, hsb-saturate($s, 20), $b - 20);
    text-shadow: 0 1px 0 rgba(white, 0.3);
  }
}

strong {
  font-weight: bold;
}

.btn {
  @include buttonize(0, 0, 95, 1);
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  padding: 9px 16px 9px;
  margin: 16px 0 0 16px;
  transition: all 20ms ease-out;
  vertical-align: top;
}
.btn-primary {
  @include buttonize(202, 65, 74);
}
.button-blue {
  @include buttonize(199, 71, 89);
}
.button-green {
  @include buttonize(97, 42, 80);
}
.button-purple {
  @include buttonize(249, 34, 73);
}
.button-orange {
  @include buttonize(26, 77, 96);
}
.button-red {
  @include buttonize(4, 58, 93);
}
.button-yellow {
  @include buttonize(49, 54, 99, 1);
}
.button .fa {
  float: left;
  font-size: 14px;
  line-height: 20px;
  margin: -1px 8px 0 -4px;
  vertical-align: top;
}

#home-banner-container {
  background-image: url("https://i.imgur.com/yL9xyuX.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 92vh;
  overflow: hidden;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Make the video a bit darker */
  filter: brightness(50%);

  /* Bring it behind the text */
  z-index: -1;
}

#about-header {
  color: white;
}

#about-body {
  color: white;
}

.bottom-home {
  margin-bottom: 150px;
}

.about-div {
  min-height: 80vh;
}

.about-links {
  color: rgb(148, 148, 148);
}
