a {
  cursor: pointer;
  color: black;
}

a:hover {
  color: darkgray;
  text-decoration: none;
}

body {
  font-family: "Muli";
}

.navBrandName {
  text-align: center;
}

#brand-card:hover {
  background-color: #a3a3a3;
}

.pdColorButton {
  width: 70px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}
